// show_personInfo 页面样式
.info{
  .title-fz{
    font-size: 16px;
  }
  .bottom-color{
    color: $color-b;
  }
  .bottom-fz{
    font-size: 12px;
  }
  .mu-tab-link{
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .mu-tab-text.has-icon{
    margin-top: 2px;
  }
  .mu-item{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mu-tab-link{
    min-height: 42px;
  }
  .mu-card-media-title .mu-card-title{
    font-size: 18px;
    line-height: 18px;
  }
  .mu-card-media-title{
    padding: 8px;
  }
  .icon-small{
    font-size: 16px;
  }
} 