// show_personInfo 页面样式
.info{
  .title-fz{
    font-size: 16px;
  }
  .bottom-color{
    color: $color-b;
  }
  .bottom-fz{
    font-size: 12px;
  }
  .mu-tab-link{
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .mu-tab-text.has-icon{
    margin-top: 2px;
  }
} 